<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/vue/styles/sgui_bsc.css" />
  <link rel="stylesheet" type="text/css" href="/public/vue/styles/vueforJSP.css" />
  <script type="text/javascript" src='/public/js/jquery-1.11.3.min.js'></script>
  <script type="text/javascript" src="/public/js/ShowsetColumn.js"></script>
  <script type="text/javascript" src="/formengineWebService/js/exprruntime.min.js"></script>
  <script type="text/javascript" src="/public/pdf/pdf.min.js"></script>
  <script type="text/javascript" src="/public/pdf/pdf.worker.min.js"></script>
  <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />-->
  <!--<link href="/static/asset/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
</head>
<body>
  <div id="app"><!--vue-ssr-outlet--></div>

  <script>
    window.onload = function () {
      // language=HTML
      /*var  scriptStr = '<script type="text/javascript" src="/src/util/details.js"><\/script>'
	  document.write(scriptStr)*/
    }
  </script>
</body>
</html>